flows.json
[
    {
        "id": "a7d4a13c6c1f065f",
        "type": "tab",
        "label": "Ejercicio 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "161039e0a4e8c048",
        "type": "tab",
        "label": "Ejercicio 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "835541d6440ae954",
        "type": "tab",
        "label": "Dashboard 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e75215f8c225206d",
        "type": "tab",
        "label": "Dashboard LED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2a331a8c37a69e24",
        "type": "tab",
        "label": "Dashboard Chart",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "777b3d793d065e6e",
        "type": "tab",
        "label": "Dashboard Importado 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b283eef3.e91d1",
        "type": "tab",
        "label": "Dashboard Importado 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "575e421123522e45",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f3b20fd514f58146",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "f1ee9d1877a3f72b",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "76c2da54a880310f",
        "type": "ui-page",
        "name": "Dashboard 1",
        "ui": "f3b20fd514f58146",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "f1ee9d1877a3f72b",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "4"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "712d88afc09939fd",
        "type": "ui-group",
        "name": "Grupo 1",
        "page": "76c2da54a880310f",
        "width": "3",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "79d2f6c2aa0d048a",
        "type": "ui-group",
        "name": "Group 2",
        "page": "76c2da54a880310f",
        "width": "3",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "89aa5035fc95b3fe",
        "type": "ui-group",
        "name": "Group 3",
        "page": "76c2da54a880310f",
        "width": "3",
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0a1d6f5df8130be0",
        "type": "ui-group",
        "name": "Group 4",
        "page": "76c2da54a880310f",
        "width": "3",
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "27f4c81bbb1caa4f",
        "type": "ui-page",
        "name": "Dashboard 2",
        "ui": "f3b20fd514f58146",
        "path": "/page3",
        "icon": "home",
        "layout": "grid",
        "theme": "f1ee9d1877a3f72b",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "298ee8c449825c3c",
        "type": "ui-group",
        "name": "Grupo Led",
        "page": "27f4c81bbb1caa4f",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "bbb56d444ea9026f",
        "type": "ui-page",
        "name": "Dashboard 3",
        "ui": "f3b20fd514f58146",
        "path": "/page4",
        "icon": "home",
        "layout": "grid",
        "theme": "f1ee9d1877a3f72b",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "98010aa28de9279b",
        "type": "ui-group",
        "name": "Grupo chart",
        "page": "bbb56d444ea9026f",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f779dd92.cf698",
        "type": "ui_tab",
        "name": "Charts",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "44d9222c.07961c",
        "type": "ui_group",
        "name": "Charts",
        "tab": "f779dd92.cf698",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "afe97566.fbda58",
        "type": "ui_group",
        "name": "Inputs",
        "tab": "f779dd92.cf698",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "ef33233b.dd28f",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "f779dd92.cf698",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "23cde037bf932111",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "72415252.b2cadc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3ba37fd4.6558f",
        "type": "ui_group",
        "name": "Example Flow",
        "tab": "72415252.b2cadc",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "a5267a9dbcf523e1",
        "type": "inject",
        "z": "a7d4a13c6c1f065f",
        "name": "Ingreso",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Ingreso de dato",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "8ae822c832f34276"
            ]
        ]
    },
    {
        "id": "3bac04a911dc6b1a",
        "type": "debug",
        "z": "a7d4a13c6c1f065f",
        "name": "salida temperatura",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 100,
        "wires": []
    },
    {
        "id": "af500394c1127461",
        "type": "debug",
        "z": "a7d4a13c6c1f065f",
        "name": "salida humedad",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 240,
        "wires": []
    },
    {
        "id": "bebb79682a2b39b1",
        "type": "function",
        "z": "a7d4a13c6c1f065f",
        "name": "function humedad",
        "func": "msg.payload = (msg.payload*3)+2.5;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 240,
        "wires": [
            [
                "af500394c1127461",
                "c1573c82c85530fe"
            ]
        ]
    },
    {
        "id": "9feafaf0f0cf42d6",
        "type": "function",
        "z": "a7d4a13c6c1f065f",
        "name": "function temperatura",
        "func": "msg.payload=(msg.payload*10);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 100,
        "wires": [
            [
                "3bac04a911dc6b1a",
                "6e1603ce3e99ca95"
            ]
        ]
    },
    {
        "id": "c1573c82c85530fe",
        "type": "function",
        "z": "a7d4a13c6c1f065f",
        "name": "function alarma",
        "func": "if (msg.payload > 90) {\n    msg.payload = \"Alarma humedad mayor a 90\";\n} else {\n    msg = null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 320,
        "wires": [
            [
                "af500394c1127461"
            ]
        ]
    },
    {
        "id": "6e1603ce3e99ca95",
        "type": "function",
        "z": "a7d4a13c6c1f065f",
        "name": "function alarma",
        "func": "if (msg.payload > 50) {\n    msg.payload = \"Alarma temperatura mayor a 50\";\n} else {\n    msg = null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 160,
        "wires": [
            [
                "3bac04a911dc6b1a"
            ]
        ]
    },
    {
        "id": "8ae822c832f34276",
        "type": "random",
        "z": "a7d4a13c6c1f065f",
        "name": "dato aleatorio",
        "low": 1,
        "high": "100",
        "inte": "false",
        "property": "payload",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "9feafaf0f0cf42d6",
                "bebb79682a2b39b1"
            ]
        ]
    },
    {
        "id": "c7e3bf216e469a79",
        "type": "inject",
        "z": "161039e0a4e8c048",
        "name": "Ingreso",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Ingreso de dato",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "e1adee4c9612181b"
            ]
        ]
    },
    {
        "id": "159492c4de7e911a",
        "type": "switch",
        "z": "161039e0a4e8c048",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "177a9c5990e25a8e"
            ]
        ]
    },
    {
        "id": "796da4155a3f83b5",
        "type": "switch",
        "z": "161039e0a4e8c048",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "90",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 561.5809500558034,
        "y": 340,
        "wires": [
            [
                "68672569502a6747"
            ]
        ]
    },
    {
        "id": "d6e9956f915cb004",
        "type": "debug",
        "z": "161039e0a4e8c048",
        "name": "alarma",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 240,
        "wires": []
    },
    {
        "id": "878cb0a9470d9a58",
        "type": "debug",
        "z": "161039e0a4e8c048",
        "name": "alarma",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 380,
        "wires": []
    },
    {
        "id": "177a9c5990e25a8e",
        "type": "change",
        "z": "161039e0a4e8c048",
        "name": "mensaje",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "La temperatura es mayor a 50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 160,
        "wires": [
            [
                "d6e9956f915cb004"
            ]
        ]
    },
    {
        "id": "68672569502a6747",
        "type": "change",
        "z": "161039e0a4e8c048",
        "name": "mensaje",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "La humedad es mayor a 90",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 300,
        "wires": [
            [
                "878cb0a9470d9a58"
            ]
        ]
    },
    {
        "id": "e1adee4c9612181b",
        "type": "random",
        "z": "161039e0a4e8c048",
        "name": "dato aleatorio",
        "low": 1,
        "high": "100",
        "inte": "false",
        "property": "payload",
        "x": 377.37142508370533,
        "y": 261.26666259765625,
        "wires": [
            [
                "159492c4de7e911a",
                "796da4155a3f83b5"
            ]
        ]
    },
    {
        "id": "dca2fea26805f02f",
        "type": "random",
        "z": "835541d6440ae954",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 460,
        "y": 120,
        "wires": [
            [
                "9b61e826ac3a343e",
                "4fa711e59de50a6f",
                "8d67ca837dd6d74c",
                "9516399def298482"
            ]
        ]
    },
    {
        "id": "42b149933e2cdcb3",
        "type": "inject",
        "z": "835541d6440ae954",
        "name": "hola",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 275,
        "y": 120,
        "wires": [
            [
                "dca2fea26805f02f"
            ]
        ]
    },
    {
        "id": "4fa711e59de50a6f",
        "type": "ui-gauge",
        "z": "835541d6440ae954",
        "name": "",
        "group": "712d88afc09939fd",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": "0",
        "height": "0",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 790,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9b61e826ac3a343e",
        "type": "ui-text",
        "z": "835541d6440ae954",
        "group": "712d88afc09939fd",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "number",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 800,
        "y": 60,
        "wires": []
    },
    {
        "id": "8d67ca837dd6d74c",
        "type": "ui-chart",
        "z": "835541d6440ae954",
        "group": "79d2f6c2aa0d048a",
        "name": "",
        "label": "chart",
        "order": 1,
        "chartType": "line",
        "category": "payload",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "0",
        "xmax": "100",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "4",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 790,
        "y": 140,
        "wires": [
            [
                "f8f133b648cf14a1"
            ]
        ]
    },
    {
        "id": "e5bc207b9c4d50d3",
        "type": "ui-gauge",
        "z": "835541d6440ae954",
        "name": "",
        "group": "89aa5035fc95b3fe",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 763.75,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "576ea5bb54f0bfa5",
        "type": "ui-button",
        "z": "835541d6440ae954",
        "group": "0a1d6f5df8130be0",
        "name": "",
        "label": "Resetear Grafico",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "reset",
        "payloadType": "str",
        "topic": "chart",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "105ce1e8c661ba09"
            ]
        ]
    },
    {
        "id": "9516399def298482",
        "type": "ui-slider",
        "z": "835541d6440ae954",
        "group": "0a1d6f5df8130be0",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "payload",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "false",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 332.5,
        "y": 480,
        "wires": [
            [
                "925aacda5eede07b",
                "1c721eb38e963ae6",
                "85461f5283045901"
            ]
        ]
    },
    {
        "id": "ba862934e83681ce",
        "type": "ui-text-input",
        "z": "835541d6440ae954",
        "group": "0a1d6f5df8130be0",
        "name": "",
        "label": "text",
        "order": 5,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 353.75,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "925aacda5eede07b",
        "type": "ui-number-input",
        "z": "835541d6440ae954",
        "group": "0a1d6f5df8130be0",
        "name": "",
        "label": "number",
        "order": 4,
        "width": 0,
        "height": 0,
        "topic": "payload",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 580,
        "y": 500,
        "wires": [
            [
                "e5bc207b9c4d50d3"
            ]
        ]
    },
    {
        "id": "a20d43f1b9f2f02d",
        "type": "ui-text-input",
        "z": "835541d6440ae954",
        "group": "0a1d6f5df8130be0",
        "name": "",
        "label": "date-picker",
        "order": 6,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "date",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 395,
        "y": 600,
        "wires": [
            [
                "808a8dbcea92bcf4"
            ]
        ]
    },
    {
        "id": "d8c5aff6c22091b5",
        "type": "ui-text-input",
        "z": "835541d6440ae954",
        "group": "0a1d6f5df8130be0",
        "name": "",
        "label": "color-picker",
        "order": 7,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "color",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 456.25,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "1c721eb38e963ae6",
        "type": "ui-chart",
        "z": "835541d6440ae954",
        "group": "0a1d6f5df8130be0",
        "name": "",
        "label": "chart",
        "order": 8,
        "chartType": "bar",
        "category": "payload",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "1",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "line",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "3",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 930,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "981a1fdcb2348d4a",
        "type": "ui-switch",
        "z": "835541d6440ae954",
        "name": "",
        "label": "switch",
        "group": "712d88afc09939fd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 790,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "105ce1e8c661ba09",
        "type": "function",
        "z": "835541d6440ae954",
        "name": "function 1",
        "func": "return { payload: [], topic: \"chart\" };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 400,
        "wires": [
            [
                "1c721eb38e963ae6",
                "8d67ca837dd6d74c"
            ]
        ]
    },
    {
        "id": "85461f5283045901",
        "type": "ui-text",
        "z": "835541d6440ae954",
        "group": "89aa5035fc95b3fe",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1030,
        "y": 400,
        "wires": []
    },
    {
        "id": "808a8dbcea92bcf4",
        "type": "function",
        "z": "835541d6440ae954",
        "name": "function 2",
        "func": "let fecha= flow.get(\"fechaX\");\nif(!fecha) return null;\n\nmsg.payload=[\n    {\n        x: new Date(fecha).toISOString(),\n        y: msg.payload\n    }\n];\nmsg.topic=\"grafico\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 600,
        "wires": [
            [
                "1c721eb38e963ae6"
            ]
        ]
    },
    {
        "id": "9d0407919f09ea91",
        "type": "ui-switch",
        "z": "835541d6440ae954",
        "name": "switch de 4 grupo",
        "label": "switch",
        "group": "0a1d6f5df8130be0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": false,
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 230,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "f8f133b648cf14a1",
        "type": "debug",
        "z": "835541d6440ae954",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 120,
        "wires": []
    },
    {
        "id": "0712a7e8632ffe3f",
        "type": "switch",
        "z": "e75215f8c225206d",
        "name": "switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "15",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 380,
        "wires": [
            [
                "9b19219448edb984"
            ],
            [
                "9d5c9586e648fdd1"
            ]
        ]
    },
    {
        "id": "9b19219448edb984",
        "type": "change",
        "z": "e75215f8c225206d",
        "name": "set msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 320,
        "wires": [
            [
                "f6e1b4bb0825ca2e"
            ]
        ]
    },
    {
        "id": "9d5c9586e648fdd1",
        "type": "change",
        "z": "e75215f8c225206d",
        "name": "set msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 420,
        "wires": [
            [
                "f6e1b4bb0825ca2e"
            ]
        ]
    },
    {
        "id": "f6e1b4bb0825ca2e",
        "type": "ui-led",
        "z": "e75215f8c225206d",
        "name": "led",
        "group": "298ee8c449825c3c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "right",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ffff00"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#0000ff"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "8cfa23497a76280e",
        "type": "comment",
        "z": "e75215f8c225206d",
        "name": "Mayor a 50",
        "info": "",
        "x": 340,
        "y": 320,
        "wires": []
    },
    {
        "id": "6ff02eed0747c373",
        "type": "comment",
        "z": "e75215f8c225206d",
        "name": "Menor a 15",
        "info": "",
        "x": 350,
        "y": 440,
        "wires": []
    },
    {
        "id": "ba54c5f4afe1723c",
        "type": "inject",
        "z": "e75215f8c225206d",
        "name": "inyeccion",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "10353cef58a035d7"
            ]
        ]
    },
    {
        "id": "10353cef58a035d7",
        "type": "random",
        "z": "e75215f8c225206d",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 520,
        "y": 220,
        "wires": [
            [
                "0712a7e8632ffe3f",
                "6f2139e6f39f0106"
            ]
        ]
    },
    {
        "id": "6f2139e6f39f0106",
        "type": "debug",
        "z": "e75215f8c225206d",
        "name": "numero",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "6290d1a66a8866fa",
        "type": "inject",
        "z": "2a331a8c37a69e24",
        "name": "X:timestamp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "8b1a88d27a7b351f"
            ]
        ]
    },
    {
        "id": "d44dd9a7dff27cf3",
        "type": "inject",
        "z": "2a331a8c37a69e24",
        "name": "Y:timestamp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "9eb14dc91ede259b"
            ]
        ]
    },
    {
        "id": "cb6d319a3956ad38",
        "type": "inject",
        "z": "2a331a8c37a69e24",
        "name": "Z:timestamp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "f4bce216d581cb14"
            ]
        ]
    },
    {
        "id": "8b1a88d27a7b351f",
        "type": "random",
        "z": "2a331a8c37a69e24",
        "name": "X",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "d74ba859fd1f5e96"
            ]
        ]
    },
    {
        "id": "9eb14dc91ede259b",
        "type": "random",
        "z": "2a331a8c37a69e24",
        "name": "Y",
        "low": "11",
        "high": "20",
        "inte": "true",
        "property": "payload",
        "x": 450,
        "y": 240,
        "wires": [
            [
                "26140edef6bf7b75"
            ]
        ]
    },
    {
        "id": "f4bce216d581cb14",
        "type": "random",
        "z": "2a331a8c37a69e24",
        "name": "Z",
        "low": "21",
        "high": "30",
        "inte": "true",
        "property": "payload",
        "x": 450,
        "y": 380,
        "wires": [
            [
                "f3dcc67a7becc3ab"
            ]
        ]
    },
    {
        "id": "6470e720435f04cb",
        "type": "ui-chart",
        "z": "2a331a8c37a69e24",
        "group": "98010aa28de9279b",
        "name": "",
        "label": "chart",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "30",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 750,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d74ba859fd1f5e96",
        "type": "function",
        "z": "2a331a8c37a69e24",
        "name": "function 3",
        "func": "msg.topic=\"Sensor X\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 120,
        "wires": [
            [
                "6470e720435f04cb"
            ]
        ]
    },
    {
        "id": "26140edef6bf7b75",
        "type": "function",
        "z": "2a331a8c37a69e24",
        "name": "function 4",
        "func": "msg.topic=\"Sensor Y\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 240,
        "wires": [
            [
                "6470e720435f04cb"
            ]
        ]
    },
    {
        "id": "f3dcc67a7becc3ab",
        "type": "function",
        "z": "2a331a8c37a69e24",
        "name": "function 5",
        "func": "msg.topic=\"Sensor Z\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 380,
        "wires": [
            [
                "6470e720435f04cb"
            ]
        ]
    },
    {
        "id": "a48dbabf.4f5808",
        "type": "function",
        "z": "777b3d793d065e6e",
        "name": "",
        "func": "var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 400,
        "wires": [
            [
                "650b4d79.f130c4",
                "4a76f20d.8e4ddc",
                "58ab75b.7e7d58c",
                "90af7f6b.a9a9e"
            ]
        ]
    },
    {
        "id": "650b4d79.f130c4",
        "type": "ui_chart",
        "z": "777b3d793d065e6e",
        "name": "",
        "group": "44d9222c.07961c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "line chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 830,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e403a5c3.e8fe28",
        "type": "function",
        "z": "777b3d793d065e6e",
        "name": "",
        "func": "var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 240,
        "wires": [
            [
                "650b4d79.f130c4"
            ]
        ]
    },
    {
        "id": "487b12db.06998c",
        "type": "ui_button",
        "z": "777b3d793d065e6e",
        "name": "",
        "group": "afe97566.fbda58",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Time Line 1",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "e403a5c3.e8fe28"
            ]
        ]
    },
    {
        "id": "4a76f20d.8e4ddc",
        "type": "ui_chart",
        "z": "777b3d793d065e6e",
        "name": "",
        "group": "44d9222c.07961c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "bar chart",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 830,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "20bdd016.7aed1",
        "type": "ui_button",
        "z": "777b3d793d065e6e",
        "name": "",
        "group": "afe97566.fbda58",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 400,
        "y": 400,
        "wires": [
            [
                "a48dbabf.4f5808"
            ]
        ]
    },
    {
        "id": "5083c707.fc7158",
        "type": "random",
        "z": "777b3d793d065e6e",
        "name": "",
        "low": "1",
        "high": "10000000",
        "inte": "true",
        "x": 590,
        "y": 600,
        "wires": [
            [
                "650b4d79.f130c4"
            ]
        ]
    },
    {
        "id": "9dc648e5.2a4238",
        "type": "inject",
        "z": "777b3d793d065e6e",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 420,
        "y": 600,
        "wires": [
            [
                "5083c707.fc7158"
            ]
        ]
    },
    {
        "id": "b0090ec8.78586",
        "type": "function",
        "z": "777b3d793d065e6e",
        "name": "",
        "func": "var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 440,
        "wires": [
            [
                "650b4d79.f130c4",
                "4a76f20d.8e4ddc",
                "58ab75b.7e7d58c",
                "90af7f6b.a9a9e"
            ]
        ]
    },
    {
        "id": "b20275c0.f96e88",
        "type": "ui_button",
        "z": "777b3d793d065e6e",
        "name": "",
        "group": "afe97566.fbda58",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array2",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 400,
        "y": 440,
        "wires": [
            [
                "b0090ec8.78586"
            ]
        ]
    },
    {
        "id": "ab8c5bb0.4508e8",
        "type": "function",
        "z": "777b3d793d065e6e",
        "name": "",
        "func": "var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 280,
        "wires": [
            [
                "650b4d79.f130c4"
            ]
        ]
    },
    {
        "id": "43f904d1.7a134c",
        "type": "ui_button",
        "z": "777b3d793d065e6e",
        "name": "",
        "group": "afe97566.fbda58",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Time Line 2",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "ab8c5bb0.4508e8"
            ]
        ]
    },
    {
        "id": "829fdc33.00756",
        "type": "function",
        "z": "777b3d793d065e6e",
        "name": "",
        "func": "var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 640,
        "wires": [
            [
                "90af7f6b.a9a9e",
                "4a76f20d.8e4ddc",
                "650b4d79.f130c4",
                "ecc5d625.b10208",
                "ad18c6bb.5616b8",
                "58ab75b.7e7d58c"
            ]
        ]
    },
    {
        "id": "90af7f6b.a9a9e",
        "type": "ui_chart",
        "z": "777b3d793d065e6e",
        "name": "pie chart",
        "group": "44d9222c.07961c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "pie chart",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "30",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 870,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e3265c1e.a374",
        "type": "ui_button",
        "z": "777b3d793d065e6e",
        "name": "",
        "group": "afe97566.fbda58",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array for pie",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Pie 4 T",
        "x": 420,
        "y": 640,
        "wires": [
            [
                "829fdc33.00756"
            ]
        ]
    },
    {
        "id": "f8f677b.1576d88",
        "type": "function",
        "z": "777b3d793d065e6e",
        "name": "",
        "func": "var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 320,
        "wires": [
            [
                "650b4d79.f130c4"
            ]
        ]
    },
    {
        "id": "f3e12c6.63e10d",
        "type": "ui_button",
        "z": "777b3d793d065e6e",
        "name": "",
        "group": "afe97566.fbda58",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Time Line 3",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "f8f677b.1576d88"
            ]
        ]
    },
    {
        "id": "42352d8a.c44564",
        "type": "function",
        "z": "777b3d793d065e6e",
        "name": "",
        "func": "var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 360,
        "wires": [
            [
                "650b4d79.f130c4"
            ]
        ]
    },
    {
        "id": "f6d9c377.8e3bf",
        "type": "ui_button",
        "z": "777b3d793d065e6e",
        "name": "",
        "group": "afe97566.fbda58",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Time Line 4",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 420,
        "y": 360,
        "wires": [
            [
                "42352d8a.c44564"
            ]
        ]
    },
    {
        "id": "a9999623.3ecc08",
        "type": "function",
        "z": "777b3d793d065e6e",
        "name": "",
        "func": "var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 560,
        "wires": [
            [
                "650b4d79.f130c4",
                "4a76f20d.8e4ddc",
                "90af7f6b.a9a9e",
                "ecc5d625.b10208",
                "ad18c6bb.5616b8",
                "58ab75b.7e7d58c"
            ]
        ]
    },
    {
        "id": "4acffbad.64b224",
        "type": "ui_button",
        "z": "777b3d793d065e6e",
        "name": "",
        "group": "afe97566.fbda58",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array3c",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 410,
        "y": 560,
        "wires": [
            [
                "a9999623.3ecc08"
            ]
        ]
    },
    {
        "id": "24b7730c.4a578c",
        "type": "ui_button",
        "z": "777b3d793d065e6e",
        "name": "",
        "group": "afe97566.fbda58",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array 2 for pie",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Pie Hole",
        "x": 430,
        "y": 680,
        "wires": [
            [
                "fd0702c5.9feba"
            ]
        ]
    },
    {
        "id": "fd0702c5.9feba",
        "type": "function",
        "z": "777b3d793d065e6e",
        "name": "",
        "func": "var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 680,
        "wires": [
            [
                "90af7f6b.a9a9e",
                "4a76f20d.8e4ddc",
                "ad18c6bb.5616b8",
                "ecc5d625.b10208",
                "650b4d79.f130c4",
                "58ab75b.7e7d58c"
            ]
        ]
    },
    {
        "id": "ea92c7ed.51ace8",
        "type": "function",
        "z": "777b3d793d065e6e",
        "name": "topic",
        "func": "var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 200,
        "wires": [
            [
                "4a76f20d.8e4ddc",
                "90af7f6b.a9a9e",
                "650b4d79.f130c4",
                "58ab75b.7e7d58c"
            ]
        ]
    },
    {
        "id": "520a6f12.347fd",
        "type": "inject",
        "z": "777b3d793d065e6e",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "ea92c7ed.51ace8"
            ]
        ]
    },
    {
        "id": "91c7e52e.e90908",
        "type": "function",
        "z": "777b3d793d065e6e",
        "name": "label",
        "func": "var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 160,
        "wires": [
            [
                "4a76f20d.8e4ddc",
                "90af7f6b.a9a9e",
                "650b4d79.f130c4",
                "58ab75b.7e7d58c"
            ]
        ]
    },
    {
        "id": "16488b9e.ab8074",
        "type": "inject",
        "z": "777b3d793d065e6e",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "91c7e52e.e90908"
            ]
        ]
    },
    {
        "id": "f7c8e510.a97688",
        "type": "function",
        "z": "777b3d793d065e6e",
        "name": "",
        "func": "var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 480,
        "wires": [
            [
                "4a76f20d.8e4ddc",
                "ecc5d625.b10208",
                "ad18c6bb.5616b8",
                "650b4d79.f130c4",
                "58ab75b.7e7d58c",
                "90af7f6b.a9a9e"
            ]
        ]
    },
    {
        "id": "75e26eee.82da2",
        "type": "ui_button",
        "z": "777b3d793d065e6e",
        "name": "",
        "group": "afe97566.fbda58",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array3a",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 410,
        "y": 480,
        "wires": [
            [
                "f7c8e510.a97688"
            ]
        ]
    },
    {
        "id": "4f7a2070.17bf2",
        "type": "function",
        "z": "777b3d793d065e6e",
        "name": "",
        "func": "var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 520,
        "wires": [
            [
                "4a76f20d.8e4ddc",
                "650b4d79.f130c4",
                "ad18c6bb.5616b8",
                "ecc5d625.b10208",
                "58ab75b.7e7d58c",
                "90af7f6b.a9a9e"
            ]
        ]
    },
    {
        "id": "259b3aa4.010d16",
        "type": "ui_button",
        "z": "777b3d793d065e6e",
        "name": "",
        "group": "afe97566.fbda58",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array3b",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 410,
        "y": 520,
        "wires": [
            [
                "4f7a2070.17bf2"
            ]
        ]
    },
    {
        "id": "58ab75b.7e7d58c",
        "type": "ui_chart",
        "z": "777b3d793d065e6e",
        "name": "",
        "group": "ef33233b.dd28f",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "horizontal bar",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "30",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 850,
        "y": 260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ecc5d625.b10208",
        "type": "ui_chart",
        "z": "777b3d793d065e6e",
        "name": "",
        "group": "ef33233b.dd28f",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "polar chart",
        "chartType": "polar-area",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "30",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 880,
        "y": 500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ad18c6bb.5616b8",
        "type": "ui_chart",
        "z": "777b3d793d065e6e",
        "name": "",
        "group": "ef33233b.dd28f",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "radar chart",
        "chartType": "radar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "30",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 880,
        "y": 560,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "549bbd5b.fb6494",
        "type": "function",
        "z": "777b3d793d065e6e",
        "name": "label",
        "func": "var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 120,
        "wires": [
            [
                "90af7f6b.a9a9e",
                "4a76f20d.8e4ddc",
                "650b4d79.f130c4",
                "58ab75b.7e7d58c"
            ]
        ]
    },
    {
        "id": "b37cbbe5.9aa2e8",
        "type": "inject",
        "z": "777b3d793d065e6e",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "549bbd5b.fb6494"
            ]
        ]
    },
    {
        "id": "5c9d5603.ee6e78",
        "type": "ui_button",
        "z": "777b3d793d065e6e",
        "name": "",
        "group": "afe97566.fbda58",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear All",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "",
        "x": 550,
        "y": 80,
        "wires": [
            [
                "ad18c6bb.5616b8",
                "ecc5d625.b10208",
                "90af7f6b.a9a9e",
                "58ab75b.7e7d58c",
                "4a76f20d.8e4ddc",
                "650b4d79.f130c4"
            ]
        ]
    },
    {
        "id": "4b6ac005.c6281",
        "type": "inject",
        "z": "b283eef3.e91d1",
        "name": "",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "ee27edae.2a9f",
                "903b4cae.13137"
            ]
        ]
    },
    {
        "id": "ee27edae.2a9f",
        "type": "debug",
        "z": "b283eef3.e91d1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "28cd651b.d766ea",
        "type": "ui_text",
        "z": "b283eef3.e91d1",
        "group": "3ba37fd4.6558f",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Date: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "903b4cae.13137",
        "type": "function",
        "z": "b283eef3.e91d1",
        "name": "Format Time",
        "func": "var d = new Date();\nvar options = { timeZone: 'UTC', timeZoneName: 'long', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar _resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload = _resultDate;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "28cd651b.d766ea"
            ]
        ]
    },
    {
        "id": "b6bd7bc.6bc6d88",
        "type": "comment",
        "z": "b283eef3.e91d1",
        "name": "Example Flow",
        "info": "This is an example flow created by Mac and Huche.\nThis flow runs once every second because of the Inject \"timestamp\" node.\nThe timestamp is fed to the debug node and outputted in milliseconds since 1/1/1970.\nClick the debug tab to view these debug messages.\nThe function node is simple javascript to retrieve the time and date in a specific format.\nThis formatted date is given to the text dashboard node.\nTo view this dashboard, click the dashboard tab or go to\nhttp://localhost:1880/ui",
        "x": 190,
        "y": 120,
        "wires": []
    },
    {
        "id": "f0abc581b9d87513",
        "type": "inject",
        "z": "575e421123522e45",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "d9c710de7d0c7aeb"
            ]
        ]
    },
    {
        "id": "d9c710de7d0c7aeb",
        "type": "random",
        "z": "575e421123522e45",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "541156e360933953"
            ]
        ]
    },
    {
        "id": "541156e360933953",
        "type": "debug",
        "z": "575e421123522e45",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 220,
        "wires": []
    }
]